body {
  font-family: "Asap";
  font-size: 16px;
  box-sizing: border-box;
  color: #212121;
  background-color: #f1f3f5;
}

.pos {
  &--rel {
    position: relative;
  }
}

.interactable {
  &:hover {
    cursor: pointer;
  }
}
