.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 20px;

  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
