@import "../../styles/Mixins.scss";

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  font-size: 20px;

  &__inner {
    @include lg {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
