@import "../../styles/Mixins.scss";

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  &__inner {
    @include lg {
      display: flex;
      align-items: center;
    }
  }
}
